//breakpoints
$xl: 1399px;
$lg: 1999px;
$md: 991px;
$sm: 767px;
$xs: 575px;


//xxl: ≥1400px — Telas ultra-grandes, como monitores de desktop de alta resolução.
//xl: ≥1200px — Telas muito grandes, como monitores widescreen.
//lg: ≥992px — Telas grandes, como desktops e laptops.
//md: ≥768px — Telas médias, como tablets em modo retrato.
//sm: ≥576px — Telas pequenas, como a maioria dos smartphones.
//xs: Menor que 576px — Usado para dispositivos muito pequenos (ex.: smartphones antigos).



// Theme colors
$blue: #004295 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d9534f !default;
$strong-red: #CC525F !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #4BBF73 !default;
$teal: #20c997 !default;
$cyan: #1F9BCF !default;

$white: #fff !default;
$gray-100: #f4f7f9 !default;
$gray-200: #e2e8ee !default;
$gray-300: #dee6ed !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #020202 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$dark-purple: #221133;

$primary: #DAA520 !default;
$secondary: #2200E8 !default;
$neutral: #E6E6E6;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$dark-800: #1A1A1A !default;
$hoverBlue: #0055e87a !default;
$white: #fff !default;

$g-color-1: #9D50BB;
$g-color-2: #6E48AA;
$g-color-3: #FFB75E;
$g-color-4: #ED8F03;

//linear-gradient
$generalBackground: linear-gradient(280deg, $black, $dark-purple);
$gradient-title: linear-gradient(90deg,
                $g-color-1, $g-color-2, $g-color-3, $g-color-4);



//lighten
$light: lighten($gray-200, 4%) !default;
$lg15-primary: lighten($primary, 15%);
$lg25-primary: lighten($primary, 25%);
$lg-gray: lighten($gray-500, 10);


//darken
$dk10-primary: darken($primary, 10%);
$gradient-title-darken: linear-gradient(to right,
                darken($g-color-1, 20%),
                darken($g-color-2, 20%),
                darken($g-color-3, 20%),
                darken($g-color-4, 20%));