// Variables
@import "1-variables/app";
// Bootstrap
@import "bootstrap/scss/bootstrap";
// Pages
@import "2-pages/about";
@import "2-pages/contact";
@import "2-pages/detailedProject";
@import "2-pages/home";
@import "2-pages/project";
@import "2-pages/skills";
// Components
@import "3-components/body";
@import "3-components/button";
@import "3-components/card";
@import "3-components/footer";
@import "3-components/global";
@import "3-components/header";
@import "3-components/icon";
@import "3-components/image";
@import "3-components/modal";
@import "3-components/navbar";
@import "3-components/section";
