.card {
    background-image: $generalBackground;
    color: white;
    box-shadow: 1px 1px 8px $purple;
    border-radius: 1rem;
    margin: 1rem;
    max-width: 350px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


    &:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 12px $purple, 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
}

.card-body {
    padding-bottom: 2rem;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card-footer {
    text-align: start;
    position: absolute;
    bottom: 15px;
}

.card p {
    margin-block: 1rem !important;
    font-size: .9rem;
    text-align: start;
}

.rowCard {
    align-items: center;
    display: flex;
    justify-content: space-between;

}


@media (max-width: 500px) {}