

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333 !important;
    box-shadow: 1px 1px 4px $primary !important;
    color: $primary;
    padding: 15px 0;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

