.iconBg{
    background-color: white !important;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 1rem $purple;
}


.animatedIcon{    
    display: flex;
    position: relative; 
    
    height: 80px;
    width: 80px;
}

