/* Links do menu */
nav a {

    color: $primary !important;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2rem !important;
    font-weight: bold !important;
    transition: color 0.2s ease !important;
    // text-shadow: 1px 1px 1px $lg25-primary !important

    background-image: $gradient-title !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    font-weight: bold;


    &:hover {
        background-image: $gradient-title-darken !important;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        color: transparent !important;
        font-weight: bold;
    }
}

.nav-item-dropdown {
    height: 30px;
    display: flex;
    align-items: center;
    align-self: center;
    padding-top: 2rem;
    padding-bottom: 1rem; 
    .dropdown-menu.show{
        position: absolute;
        left: -2rem;
        background-color: lighten($dark-purple,5%) !important;  
    }
}


.dropdown-item {
    display: flex !important;
    width: 100% !important;
    justify-content: end !important;
    padding:0;
    padding-right: 1rem;
}